.body {
    background-color: rgb(7, 39, 51);
    color:rgb(172, 219, 238);
}

.header{
    text-align: center;
    padding-top: 30px;
    color: snow;
    font-weight: bold;
    font-size: 1.6rem;

}

.expense-table{
    width: 45%;
    margin-left: 25%;
    margin-top: 3%;
    color: rgb(172, 219, 238);
}

.input-container{
    width: 650px;
    margin-left: 30%;
    
}

th{
    color: rgb(172, 219, 238);
    font-weight: 900;
    font-size: 1.4rem;
}

tr{
    color: rgb(172, 219, 238);
    font-weight: 600;
    font-size: 1.3rem;
}

span{
    font-size: 1.4rem;
    font-weight: 700;
}

div{
    padding: 15px;
}